<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591622777355-1obj9lo4vuf58t2neiqcktdql2g25pnq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591622777355-1obj9lo4vuf58t2neiqcktdql2g25pnq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>591622777355-o87vcttra9fan9auu09b04arni618pml.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBrx7w0KBhJa44fwgEeQcsSzx2GoAnlCas</string>
	<key>GCM_SENDER_ID</key>
	<string>591622777355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dmonster.Dtalk.Dtalk</string>
	<key>PROJECT_ID</key>
	<string>oauthtest-8d82e</string>
	<key>STORAGE_BUCKET</key>
	<string>oauthtest-8d82e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591622777355:ios:c98f6ab76336f6b595f50e</string>
</dict>
</plist>